<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>xcat</title>
</head>
<body >
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="card">
                    <div class="card-header text-center">
                        <strong>Sing in to xCat</strong>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group alert alert-success" th:if="${#request.getAttribute('message')!=null}">
                                <span th:text="${#request.getAttribute('message')}"></span>
                            </div>
                            <div class="form-group">
                                <label for="username"><strong>Username</strong></label>
                                <input id="username" type="text" name="username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label"><strong>Password</strong></label>
                                <input id="password"  type="password" name="password" class="form-control" />
                            </div>
                            <div class="form-group text-right">
                                <span><a href="/" th:href="@{/login}">Forgot password?</a></span>
                            </div>
                            <div class="form-group alert alert-danger" th:if="${error != null}">
                                <span th:text="${error}"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Sing in</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <span>Now to xCat? <a href="/" th:href="@{/registration}">Create an account.</a></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</body>
</html>