<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <title>xcat</title>
</head>
<body >
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="card">
                    <div class="card-header text-center h5">Sing in to xCat</div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group alert alert-success" th:if="${#request.getAttribute('message')!=null}">
                                <span th:text="${#request.getAttribute('message')}"></span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="bmd-label-floating">Username</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="bmd-label-floating">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group text-right">
                                <span><a href="/" th:href="@{/login}">Forgot password?</a></span>
                            </div>
                            <div class="form-group alert alert-danger" th:if="${error != null}">
                                <span th:text="${error}"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Sing in</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <span>Now to xCat? <a href="/" th:href="@{/registration}">Create an account.</a></span>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>