<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <title>xcat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body >
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="card">
                    <div class="card-header text-center h5">x<span id="logo">C</span>at<br/><span style="font-size:87%">Registration</span></div>
                    <div class="card-body">
                        <form th:action="@{/registration}" th:object="${userForm}" method="post">
                            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                                <label for="username" class="bmd-label-floating">Username</label>
                                <input id="username" class="form-control" th:field="*{username}" />
                                <div class="error-message alert alert-warning" role="alert" th:if="${#fields.hasErrors('username')}">
                                    <span th:each="error: ${#fields.errors('username')}" th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                <label for="password" class="bmd-label-floating">Password</label>
                                <input id="password" type="password" class="form-control" th:field="*{password}" />
                                <div class="error-message alert alert-warning" role="alert" th:if="${#fields.hasErrors('password')}">
                                    <span th:each="error: ${#fields.errors('password')}" th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error':''">
                                <label for="passwordConfirm" class="bmd-label-floating">Confirm password</label>
                                <input id="passwordConfirm" type="password" class="form-control" th:field="*{passwordConfirm}" />
                                <div class="error-message alert alert-warning" role="alert" th:if="${#fields.hasErrors('passwordConfirm')}">
                                    <span th:each="error: ${#fields.errors('passwordConfirm')}" th:text="${error}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>